@media all and (min-width: 320px) {
		.front .featured-bg{
			min-height: 970px
		}
		
	.featured{
		position: absolute;
		width: 100%;
		z-index: 99;
		> .row{
			position: relative;
		}

		section.block{
			padding: 20px 0;
			text-align: center;
			a{
				color: #000;
			}
			.field-name-field-button-1,
			.field-name-field-button-2,
			.field-name-field-button,		
			.more-link {
				text-align: center;
				a{
					box-shadow: none;
					background: #000;
					color: #fff;
				}
			}
			p{
				margin-bottom: 1em;
			}
			
		}
	}
	
	.featured-1{
		width: 370px;
		height: 370px;	
		background: transparent url(../images/circle_orange.png) no-repeat 0 0;
		h2{
			font-size: $h1-font-size;
			margin-bottom: 0;
		}
		.view-header p{
			font-family: $global-font-family;
			font-size: $h2-font-size;
			padding: 0;
			margin: 0 0 10px 0;
		}
		.view-content{
			
		}
		.views-field-title,
		.views-field-created{
			display: inline-block;
		}
		.views-field-title{
			width: 210px;
			padding-left: 10px;
			padding-top: 5px;
			text-align: left;		
		}
		.views-row{
			width: 100%;
			float: left;
			line-height: 1.3;
			margin: 0 0 10px 0;
		}
		
	}
	
	
	.featured-2{
		width: 325px;
		height: 325px;	
		background: transparent url(../images/circle_yellow.png) no-repeat 0 0;
	}
	
	.featured-3{
		width: 470px;
		height: 470px;	
		background: transparent url(../images/circle_green.png) no-repeat 0 0;
	}
	
	
	.featured-bg{
		img{
			width: 100%;
		}
	}

}

@media all and (max-width: 695px) and (min-width: 320px) {
	.featured{
		
		section.block{
			width: 300px;
			height: auto;
			margin: auto;	
			
		}
		.featured-1{
			width: 100%;
			height: auto;
			background: $primary-color;			
			margin-top: 37%;
		}
		.featured-2{
			width: 100%;
			height: auto;
			background: $tertiary-color;			
		}
		.featured-3{
			width: 100%;
			height: auto;
			background: $secondary-color;			
		}
		
		
		
	}
	
	.front main{
		margin-top: 120px;
	}
	
	.front .finder-content_finder{
		p{
			margin-bottom: 0;
		}
		a.button{
		    background: none repeat scroll 0 0 #000;
		    color: yellow;
		    display: inline-block;
		    margin: 5px 5px 0;
		    padding: 9px;
		    text-decoration: none !important;		
		}
	}

	.not-front .finder-content_finder{
		p{
			margin-bottom: 0;
		}
		a.button{
		    background: none repeat scroll 0 0 #000;
		    color: yellow;
		    display: inline-block;
		    margin: 5px 5px 0;
		    padding: 4px;
		    text-decoration: none !important;		
		}
	}
	
	.not-front aside .block-0.block-finder-content-finder h2{
		font-size: 18px;	
	}
	
	.not-front #finder-block-content_finder-wrapper .prefix{
		text-align: center;
	}

	
	
}

@media all and (max-width: 1023px) and (min-width: 695px) {
	.featured{
		section.block{
			padding: 40px;
		}	

	}
	

	.front .featured-bg{
		min-height: 920px
	}
	.featured-1{
		position: absolute;
		left: 1%;
		top: 330px;		
	}
	.featured-2{
		position: absolute;
		left: 33%;
		top: 160px;		
	}
	.featured-3{
		section.block{
			padding: 60px;
		}
		h2{
			font-size: $h1-font-size;
		}
		section.block{
			h2{
				font-size: 1.75em;			
				padding: 0 20px;
			}
			.finder-wrapper{
				padding: 0;				
			}
		}
		
	}	
	
	
	.featured-3 {
	    left: 38%;
	    position: absolute;
	    top: 440px;
	}
	
	.front .finder-content_finder{
		p{
			margin-bottom: 0;
		}
		a.button{
		    background: none repeat scroll 0 0 #000;
		    color: yellow;
		    display: inline-block;
		    margin: 5px 5px 0;
		    padding: 9px;
		    text-decoration: none !important;		
		}
	}
	
	.not-front .finder-content_finder{
		p{
			margin-bottom: 0;
		}
		a.button{
		    background: none repeat scroll 0 0 #000;
		    color: yellow;
		    display: inline-block;
		    margin: 5px 5px 0;
		    padding: 4px;
		    text-decoration: none !important;		
		}
	}
	
	.not-front aside .block-0.block-finder-content-finder h2{
		font-size: 18px;	
	}
	
	.not-front #finder-block-content_finder-wrapper .prefix{
		text-align: center;
	}	
	
		
}



@media all and (max-width: 1117px) and (min-width: 1024px) {
	.front .featured-bg{
		min-height: 720px
	}
	.featured-1{
		position: absolute;
		left: -40px;
		top: 330px;		
	}
	.featured-2{
		position: absolute;
		left: 250px;
		top: 200px;		
	}
	.featured-3{
		position: absolute;
		left: 562px;
		top: 290px;		
	}
	
	.not-front .finder-content_finder{
		p{
			margin-bottom: 0;
		}
		a.button{
		    background: none repeat scroll 0 0 #000;
		    color: yellow;
		    display: inline-block;
		    margin: 5px 5px 0;
		    padding: 4px;
		    text-decoration: none !important;		
		}
	}
	
	.not-front aside .block-0.block-finder-content-finder h2{
		font-size: 18px;	
	}
	
	.not-front #finder-block-content_finder-wrapper .prefix{
		text-align: center;
	}	
		
}


@media all and (min-width: 1118px) {
	.featured-1{
		position: absolute;
		left: 0;
		top: 330px;		
	}
	.featured-2{
		position: absolute;
		left: 370px;
		top: 200px;		
	}
	.featured-3{
		position: absolute;
		left: 613px;
		top: 290px;		
	}
	
	.not-front .finder-content_finder{
		p{
			margin-bottom: 0;
		}
		a.button{
		    background: none repeat scroll 0 0 #000;
		    color: yellow;
		    display: inline-block;
		    margin: 5px 5px 0;
		    padding: 4px;
		    text-decoration: none !important;		
		}
	}
	

	.not-front #finder-block-content_finder-wrapper .prefix{
		text-align: center;
	}
	
	.not-front #finder-block-content_finder-wrapper .finder-form-element	{
		width: 185px;
		margin-left: 30px;
	}
	

}

@media all and (max-width: 1850px) and (min-width: 1392px) {
	.front .featured-bg{
		min-height: 770px
	}
}

@media all and (max-width: 1392px) and (min-width: 1118px) {
	.front .featured-bg{
		min-height: 720px
	}
}

@media all and (max-width: 480px) and (min-width: 320px) {
	.front .featured-bg{
		min-height: 1070px
	}
}

@media all and (max-width: 694px) and (min-width: 481px) {
	.front .featured-bg{
		min-height: 1150px
	}
}


@media #{$medium} { 
	.featured{
		section.block{
			padding: 40px;
		}
	}
	.featured-1{
		position: absolute;
		left: 0;
		top: 330px;		
	}
	.featured-2{
		position: absolute;
		left: 390px;
		top: 200px;		
		section.block{
			padding-top: 50px;
		}
	}
	.featured-3{
		position: absolute;
		left: 640px;
		top: 290px;		
		section.block{
			h2{
				font-size: 2.35em;			
				padding: 0 40px;
			}
			.finder-wrapper{
				padding: 0;				
			}
		}
		.suffix{
			text-align: center;
		}
	}
	
	.front .finder-content_finder{
		p{
			margin-bottom: 0;
		}
		a.button{
		    background: none repeat scroll 0 0 #000;
		    color: yellow;
		    display: inline-block;
		    margin: 5px 5px 0;
		    padding: 9px;
		    text-decoration: none !important;		
		}
	}
	
	.front .featured .block-finder-content-finder{
		padding: 40px 20px;
	}

}