// Non-modular or client styles for .l-footer region.


.l-footer {}
.l-footer-columns {}

.footer-full-width{
	h2{
		@extend h3;
	}
	background: #eae9e9;	
	padding: 50px 0;
	section{
		float: left;
		width: 32%;
		margin-left: 1%;
	}
	li,
	.views-row{
		list-style: none;	
		margin: 5px 0 10px 0;
		overflow: hidden;
		font-size: 14px;
		line-height: 18px;
		background: transparent url(../images/arrow-black.png) 0 4px no-repeat;
		padding-left: 15px;
		padding-right: 12px;		

	}
	a{
		line-height: 1.3;
		color: #000;
		
	}
	.more-link a{
		background: none;
		padding: 0;
		text-decoration: underline;
		&:hover{
			background: none;
			text-decoration: none;
		}
	}
}

@media all and (max-width: 767px) and (min-width: 320px) {
	.footer-full-width{
		.views-row{	
			
		}
		section{
			width: 100%;

		}
	}
}


.footer-partners{
	background: #eae9e9 url(../images/black-horizontal-line.gif) repeat-x 0 0;		
	padding: 20px 0 80px 0;	
	.block-views-partners-block{
		width: 100%;
		text-align: center;
	}
	.view-partners{
		width: 100%;
		float: left;
		li{
			display: inline-block;
			position: relative;		
		}
		
	}
	
	.views-field-field-link a{
		display: inline-block;	
		padding: 20px;
		height: 120px;
		width: 120px;
		position: absolute;
		top: 10px;		
		left: 10px;
		text-indent: -9999px;
	}
	.views-field-field-partner-image {
		padding: 20px;
		height: 120px;
		width: 120px;
		text-align: center;
		background: #fff;
		line-height: 80px;
		margin: 20px 10px 0 10px;
		@include border-radius(100px); 		
	}		
}

.below-footer-full-width{
	position: relative;
}

.below-footer{
	background: #dddcdc;
	text-align: center;
	ul{
		margin-bottom: 10px;
	}
	li{
		margin-top: 15px;
		display: inline-block;
		list-style: none;
		a{
			display: inline-block;			
			height: 66px;
			line-height: 66px;
		}
	}
	a#footer-home{
		padding-left: 139px;
		background: transparent url(../images/footer-logo.png) no-repeat 0 0;			
	}
	a{
		font-family: $global-font-family;
		color: #000;
		padding: 0 10px;
	}
}

@media all and (max-width: 767px) and (min-width: 320px) {
	.below-footer{
		a#footer-home{
			padding-left: 0;
			background: none;			
		}
	
	}
}


