// Non-modular or client styles for .l-header region.

.top-bar-section {
	font-family: $global-font-family;
}

.title-area h1{
	display: none;
}

#main-logo{
	display: block;
	width: 400px;
	height: 113px;
	margin: auto;
	margin-top: -113px;
	bottom: -140px;
	left: -80px;
	z-index: 1;
	position: relative;
	background: transparent url(../images/logo.png) no-repeat 0 0;
}

@media all and (max-width: 695px) and (min-width: 320px) {
	#main-logo{
	    height: 83px;
	    left: 0;
	    margin-left: 0;
	    top: 70px;
	    width: 140px;		
	    background: transparent url(../images/logo-small.png) no-repeat 0 0;	
	}	
}
