// Non-modular or client styles for the .l-content region.




.breadcrumbs {
	font-family: $global-font-family;
	font-weight: bold;
	background: transparent;
	li{
		background: transparent url(../images/bullets.png) 0 50% no-repeat;
		padding-left: 13px;
		padding-right: 5px;
	}
	li.current{
		background: transparent url(../images/bullets-yellow.png) 0 50% no-repeat;
	}
}


.section-actueel main > .push-3{
	margin-bottom: 80px;
}

main > .pull-9{
	@extend .large-4;
	right: 0;
}


main > .push-3{
	@extend .large-8;
	left: 0;
}

.more-link{
	text-align: left;
}



.section-2{
	padding: 100px 0;	
	h2{
		@extend h1;
	}
}

.front .section-2{
	padding-top: 10px;
}

.front main {
	text-align: center;
	padding: 85px 0;
	h1{
		padding: 0 80px;		
		font-size: 55px;
	}
	article{
		padding: 0 80px;
		
	}
	.block-nodeblock h2{
		display: none;
	}
}

@media all and (max-width: 695px) and (min-width: 320px) {
	.front main {
		text-align: center;
		padding: 10px 0;
		h1{
			padding: 0 10px;		
			font-size: 40px;
		}
	}
}	

@media all and (max-width: 1000px) and (min-width: 768px) {
	.front main {
		text-align: center;
		padding: 10px 0;
		h1{
			padding: 120px 0px 0px 0
					
		}
	}
}		

.block-nodeblock{
	
	.field-type-link-field{
		display: inline-block;
		margin: 5px 10px 5px 0;
	}
}


.front .block-nodeblock{
	text-align: center;	
}

/*
.views-field-created,
.date-display-single,
.views-field-field-date{
	display: block;
	background: $tertiary-color;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: $global-font-family;
	color: #000;
	@include border-radius(100px); 	
	float: left;	
}
*/

body.node-type-agenda-item {
	main .date-display-single{
		float: none;
		position: absolute;
		top: 65px;
	}
	h1{
		margin-left: 70px;
	}
}

.featured .views-field-created{
	background: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.section-1 .view-actueel,
.view-agenda{
	h2{
		text-align: center;
	}
	.views-row{
		width: 100%;
		float: left;
		margin-bottom: 10px;		
		min-height: 60px;
	}
	.views-field-title{
		font-family: $global-font-family;	
		margin-left: 70px;		
		@extend h5;
		margin-bottom: 0;
	}
	.views-field-field-intro,
	.views-field-intro,
	.views-field-body{
		margin-left: 70px;		
		margin-top: 5px;
	}
}

.section-1 .view-actueel{
	.views-row{

	}	
}

.field-type-taxonomy-term-reference ul:before{
	content: "Tags:";	
	display: inline;
	padding-right: 5px;
	font-size: 0.8em;
	font-family: $global-font-family;
}

.field-type-taxonomy-term-reference li{
	margin-right: 10px;
}

.field-name-field-intro p{
	font-size: 1.2em;
}

.field-name-field-rounded-image img{
	@include border-radius(100px);
	margin: 0 10px 10px 10px; 
}

article .field-name-field-document span{
	display: block;
}

//views algemeen

main .views-field-title a{
	color: #000;
	@extend h3;
}

ul.pagination li a, ul.pagination li a,
ul.pagination li a:hover, ul.pagination li a:focus{
	@include border-radius(100px); 		
	padding: 0 7px;
}

main .block-menu,
.block-menu-block{
	h2{
		@extend h4;
		margin: 10px 0 5px 0;
		padding: 0;
	}
	li, ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li{

	}
	li a{
		padding: 0 0 4px 0;	
		line-height: 18px;
		display: block;
/* 		border-top: 1px solid $primary-color; */
	}
	li li a{
		border-top: none;
		font-size: 0.9em;
		color: #f9ab6c;
		padding-left: 12px;
		background: transparent url(../images/arrow-black.png) 0 4px no-repeat;
/*
		&:before{
			content: "»";
			padding-right: 4px;
		}
*/
	}
	li ul{
		padding-bottom: 10px;
	}
	li li a.active,
	li a.active{
		color: #000;
	} 
	
}

.page-groene-stroom-stroometiketten main{
	overflow: hidden;
}

.view-groenestroom-stroometiketten{
	position: relative;
	padding-top: 100px;
	
}

.page-groene-stroom-stroometiketten #graph-legend{
	position: absolute;
	top: 0;
	padding-left: 180px;
}

#data-graph svg{
	margin-left: 120px;
}

.node-type-stroometiket-bedrijf #graph-legend,
.node-type-stroometiket-bedrijf #data-graph svg{
	margin-left: 0;
	padding-left: 0;
}


.views-exposed-form .views-exposed-widget .form-submit{
	margin-top: 0;
}


.views-exposed-form{
	padding: 20px;
	background: #ccc;
	.form-item > div{
		display: inline-block;
	}
	select{
		font-size: 12px
	}
}

.row .row.node-stroometiket-bedrijf{
	padding: 0;
	margin-left: 0;
	ul{
		list-style: inside;
	}
}


// first hide all children
.menu-block-wrapper li.expanded  ul.menu  {
/* display:none; */
}
// now unhide children of active parent
.menu-block-wrapper  .expanded.active .menu  {
	display:block;
}

a.scrollToTop, a.next-section {
	outline: none;
	width: 72px;
	height: 72px;
	top: 35px;
	margin: auto;
	position: relative;
	background: url(../images/down.png);
	z-index: 99;
	display: block;
	text-indent: -9999px;
}

.section-1 a.next-section{
	top: -115px;
}

.featured-bg a.next-section{
	display: none;
}

@media all and (min-width: 1140px) {
	.front .featured-bg a.next-section{
		display: block;	
		top: 36px;
		bottom: 0;
		margin-top: -72px;
	}
}

a.scrollToTop {
	background: url(../images/up.png);
	top: -55px;
}


.twitter-timeline{
	min-width: 265px !important;
}

/* these apply to auto-completing form fields */
html.js input.form-autocomplete {
  background-image: url("../images/ajax-loader.gif");  
  background-position: 80% -18px; /* tweak this according to your gif */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 80% 10px; /* tweak this according to your gif */
}

#autocomplete{
	text-align: left;
}

.prefix {
    border-style: none;
    font-size: 0.875em;
    height: auto;
    line-height: 2.3125em;
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 0;
    position: static;
    text-align: left;
    width: auto;
    z-index: 0;
    padding: 0;
}

aside .block-0,
.front .prefix{
	text-align: center;
}

body.cke_editable ul, body.cke_editable ol{
	list-style-position: inside !important;
}


@media all and (max-width: 695px) and (min-width: 1px) {
	.front main {
		h1{
			margin-top: 100px;
			padding-top: 20px;
			width: 100%;
			float: left;
		}
	}
	
	.front .fullwidth-featured {
		margin-bottom: -100px;
	}
	.front .triptych-first .block {
		padding: 3em 4em;
	}
	.front .vm-slider-2 {
		margin-top: -180px;
	}
	.triptych1 .triptych-middle .field-name-field-button-1 a {
		margin: 0;
		top: -200px;
	}
}		

@media all and (max-width: 768px) and (min-width: 1px) {
	.triptych2 .triptych-first ul {
	    left: -15px;
	    top: -25px;		
	}
	
}