// Non-modular or client styles for asides or sidebars.
.featured-bg{
	.block-1,
	h2{
		display: none;
	}
}

.front .section-1{
	section{
		width: 33%;
		display: inline-block;
	}
}

.above-content{
	padding-top: 20px;
}

.highlighted{
	background: #eee;
	margin-bottom: 80px;
	h1{
		margin-bottom: 30px;
	}
	.form-item{
		input, textarea{
			background: #fff;
		}
	}
		
}

.view-funding-partners-campaign,
.view-partners-campaign{
	width: 100%;
	float: left;
	.item-list ul li{
		float: left;
		margin: 0 20px 10px 0;
	}
	img{
		@include border-radius(250px); 							
	}
}

.view-funding-partners-campaign{
	img{
		border: 1px solid #ccc;
	}
}


.highlight{
	.block-views-partners-campaign-block {
		clear: left;
	}
	h2{
		@extend h3;
		padding-bottom: 5px;
		margin-bottom: 10px;
		margin-top: -5px;
		border-bottom: 4px solid #ddd;		
	}
	h5{
		line-height: 1.3;
		margin: 0;
		font-weight: normal;
		font-family: $global-alt-font-family;
	}
	section{
		width: 47%;
		min-height: 180px;
		float: left;
		margin: -5px 0 5px 0;
		padding: 15px 0 0 0;
		p{
			padding: 0;
			margin: 0;
		}
	}	
	.block-2{
		min-height: 160px;
		clear: both;
	}
	.block-3{
		min-height: 160px;		
	}
	.block-1,.block-3,.block-5{
		margin-left: 6%;
	}	
	.field-type-image{
		float: left;
		img{
			width: 160px;
			height: 160px;
			@include border-radius(250px); 					
			margin-right: 15px;
		}
	}
	.form-item, .form-actions {
		margin-top: 0;
	}
}

.fullwidth-featured{
	margin-bottom: 4em;
}

@media all and (max-width: 767px) and (min-width: 320px) {
	.highlight{
		overflow: hidden;
		section{
			width: 100%;
			min-height: auto;
			float: none;
			margin: -5px 0 5px 0;
			padding: 15px 0 0 0;
			p{
				padding: 0;
				margin: 0;
				}
			.field-type-image{
				float: none;
			}					
		}	
		.block-1,.block-3,.block-5{
			margin-left: 0;
		}	
		
		#finder-block-content_finder-wrapper{
			max-width: 260px !important;
			button,label{
//				margin-top: 6px;	
			}
		}
	}
}

.triptych{
	overflow: hidden;
	background: transparent url(../images/black-horizontal-line.gif) repeat-x 0 50%;
	.block{
		position: relative;		
	}
}

.triptych-first{
	.block{
		background: #efefef;
		width: 380px;
		height: 380px;
		top: 40px;
		padding: 0 4em;
		@include border-radius(250px); 		
		.views-row{
		  padding-left: 12px;
		  background: transparent url(../images/arrow-black.png) 0 4px no-repeat;			
		}
		.node{
			padding: 50px;
		}
		
	}
	form{
		margin: 0 10px;
		input, textarea{
			background: #fff;
		}
	}	
	form button{
		margin: auto;
		display: block;
		background: #000;
		color: $tertiary-color;
		font-family: $global-font-family;								
	}
	h2{
		text-align: center;
		padding-top: 1.5em;
	}
	.more-link{
		text-align: center;
	}
}

.triptych-last{

	.block{
		top: 160px;	
		left: 80px;
		@include border-radius(250px); 	
		width: 320px;
		height: 320px;		
	}
}


.triptych1{
	margin-top: 150px;
	.triptych-middle{
		left: -100px;
		.block{
			left: 80px;
			background: #efefef;
			background: transparent url(../images/nm.png) no-repeat 0 0;
			background-size: cover;
			width: 480px;
			height: 480px;
			padding-top: 170px;
			@include border-radius(250px); 		
		}
		.field-type-image{
			img{
				width: 160px;
				height: 160px;
				margin: auto;
				@include border-radius(250px); 					
				margin-bottom: 10px;
			}
		}
		h2{
			display: none;
		}
		.node{
			padding: 0 70px 30px 70px;
			p{
				margin: 0 0 20px 0;				
				font-family: $global-font-family;						
				font-size: 20px
			}
		}
		.field-name-field-button-1 a{
			margin: 0 50px;
			font-size: 24px;
		}
	}
	.triptych-last{
		h2{
			display: none;
		}
		.content {
			position: relative;
			.field-type-link-field {
				position: absolute;
				top: 0;
				right: 0;
				a {
					display: block;
					height: 160px;
					width: 240px;
					text-indent: -9999px;
					background: transparent;
				}
				
			}
		}
	}
		
}


.triptych2{
	overflow: hidden;
	margin: 100px 0;
	.triptych-first{
		h2{
			display: none;
		}
		.block{
			top: 160px;		
			left: 0;
			padding: 0;
			width: 280px;
			height: 280px;
			position: relative;
			z-index: 99;
			background: $secondary-color;
		}
		ul{
			list-style: none;
			position: relative;
			top: 15px;
			left: 45px;			
			li a{
				width: 100px;
				height: 100px;
				display: block;
				position: absolute;
				text-indent: -9999px;
			}
			li.rss a{
				background: transparent url(../images/rss.png) 0 0 no-repeat;				

				top: 140px;
				left: 50px;
			}
			li.twitter a{
				background: transparent url(../images/twitter.png) 0 0 no-repeat;				
			}
			li.facebook a{
				background: transparent url(../images/facebook.png) 0 0 no-repeat;				
				left: 90px;				
			}
			li.linkedin a{
				background: transparent url(../images/linkedin.png) 0 0 no-repeat;				
				left: -20px;				
				top: 90px;
			}
			li.youtube a{
				background: transparent url(../images/youtube.png) 0 0 no-repeat;				
				left: 110px;				
				top: 90px;				
			}
			
		}		
		
	}	
	.triptych-middle{
		left: -170px;
		top: 0;
		.block{
			
			background: #fff;
			border: 2px solid #ccc;
			width: 600px;
			height: 600px;
			@include border-radius(350px); 		
		}
		h2{
			margin: 0;
			@extend h1;
			padding: 70px 100px 10px 100px;			
		}
		.node{
			padding: 0 120px 30px 120px;
		}
	}
	.triptych-last{

		.block{	
			width: 340px;
			height: 340px;
			top: 120px;		
			left: -30px;
			z-index: 99;
			background: transparent url(../images/rounded-bg-1.png) no-repeat 0 0;
			text-align: center;						
		}
		h2, .node{
			padding: 0 50px;
			text-align: center;						
		}
		.more-link{
			text-align: center;
		}
		h2{
			padding-top: 50px;
		}

		
	}
	
}

@media all and (max-width: 767px) and (min-width: 320px) {
	.triptych-first .block{
		width: auto;	
		height: auto;		
	}
	.triptych-middle .block{
		width: auto;
		height: auto;		
	}
	.triptych-middle{
		left: 0;
	}
	.triptych .block{
		margin: auto;
		left: 0;
	}
	.triptych-last .block{
		left: 0;
		top: -20px;
	}
	.triptych2{
		margin-top: -100px;
	}
	.triptych2 .triptych-middle {
	    left: 0;
	    top: 70px;
	}	
	.triptych2 .triptych-last .block{
		left: 0;
		top: 0;
	}
	
		
}

@media all and (max-width: 767px) and (min-width: 394px) {
	.triptych-first .block{
		width: 340px;
		height: 340px;
		
	}
	.triptych-middle .block{
		width: 400px;
		height: 400px;
	}
}


@media all and (max-width: 1000px) and (min-width: 768px) {
	.triptych-first{	
		left: -50px;
	}
	.triptych-middle{	
		left: -160px;
	}
	.triptych-last .block {
		left: 10px;
	}
	.triptych2{	
		.triptych-first{	
			left: -70px;
			.block{
				background: transparent;
			}
		}	
		.triptych-middle {
		    left: -220px;
		}	
		.triptych-last .block {
		    left: 0;
		}	
	
	}
	

}

@media all and (max-width: 767px) and (min-width: 320px) {
	.front main{
		margin-top: -50px !important;
	}
	.triptych{
		.column, .columns		{
			padding: 0;
		}
	}
	.triptych1{
		.triptych-middle{
			left: 0;
			right: 0;
			.block{
				left: 0;
				margin-top: 50px;
				width: 320px;
				height: 320px;
			}
			.node{
				padding: 0 30px 30px 30px;
			}			
			.field-name-field-button-1 a{
				margin: 120px 10px;
				font-size: 18px;
			}
		}
			
	}	
	
	.triptych2{
		margin: -200px 0 10px 0;
		.triptych-first{
			.block{	
				width: 280px;
				height: 280px;
			}
			h2{
				padding: 60px 20px 0 20px;				
			} 
			.node{
				padding: 0;
			}
			.more-link{
				text-align: center;
			}
		}	
		.triptych-middle{
			left: 0;
			top: 0;
			margin-top: 200px;
			.block{
				border: none;
				width: auto;
				height: auto;	
			}
			.node{
				padding: 0 70px 30px;					
			}
		}
		.triptych-last{
			padding: 0;
			float: none;
		}
	}
}

ul.social{
	list-style: none;
	li{
		display: inline-block;
	}
	li a{
		width: 100px;
		height: 100px;
		display: inline-block;
		text-indent: -9999px;
		margin-right: 5px;
	}
	li.rss a{
		background: transparent url(../images/rss.png) 0 0 no-repeat;				
	}
	li.twitter a{
		background: transparent url(../images/twitter.png) 0 0 no-repeat;				
	}
	li.facebook a{
		background: transparent url(../images/facebook.png) 0 0 no-repeat;				
	}
}

aside  ul.social{
	li a{
		width: 78px;
		height: 78px;
		background-size: cover !important; 
	}
}

.not-front .section-1{
	padding: 80px 0;
	border-top: 1px solid #000;
	margin-top: 80px;
	section.block{
		width: 46%;
		padding-right: 1%;
		padding-left: 3%;		
		float: left;
	}
	.more-link{
		text-align: center;
	}
}

@media all and (max-width: 767px) and (min-width: 320px) {
	.not-front .section-1{
		padding: 20px 0;
		border-top: 1px solid #000;
		margin-top: 40px;
		section.block{
			width: 100%;
			padding-right: 0;
			padding-left:0;		
			float: left;
		}
	}

}

.front .section-2{
	section.block{
		max-width: 660px;
		margin: auto;
	}
}

.l-messages{
	padding: 20px 0 80px;
	position: relative;
	z-index: 999;

	.alert-box{
		padding: 20px;
		border: none;
		color: #000;
		a{
			color: #000;
			text-decoration: underline;
		}
		a.close{
			text-decoration: none;
		}
	}
}

aside ul.menu li,
main ul.menu li{
  background: transparent url(../images/arrow-black.png) 0 4px no-repeat;
  padding-left: 15px;	
}


.block-views-partners-campaign-block {
	clear: both;
}

