
h1{
	margin-top: 30px;
}

h2 a{
	color: #000;
}

a{
}

article.node ul li{
	list-style: none;
	padding-left: 20px;
	background: transparent url(../images/bullit.png) 0 7px no-repeat;
}	
	
article.node ul.contextual-links li{
	background: none;
	padding: 0;	
}

article.node .links li{
	background: none;
	padding: 0;
	display: inline;
}	
	
.view ul li{
}	
.view {
 ul li {
		list-style: none;
		padding: 0;
		margin-left: 0;
 }
 .views-field-body-value ul li	{
	  list-style: inherit;
	  background: url(../images/bullit.png) no-repeat 0 7px;
	  padding: 0 0 0 20px;
	  margin-left: 0;
	  display: inline-block;	
	}
 
}

