// Docs: http://foundation.zurb.com/docs/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

.button {
	box-shadow: none;
	font-family: $global-font-family;
	background: $tertiary-color;
	&:hover{
		background: darken($tertiary-color, 5%);
	}
	
}

button.secondary, .button.secondary{
	background: $secondary-color;
	&:hover{
		background: darken($secondary-color, 5%);
	}
}

.node-readmore a,
.field-type-taxonomy-term-reference a,
.views-field-view-node a,
.field-name-field-button-1 a,
.field-name-field-button-2 a,
.field-name-field-button a,
input[type="submit"],
.more-link a{
	@extend .button;
	padding: $button-tny;
}

.field-type-taxonomy-term-reference a{
	padding: $button-tny;
	font-size: 0.8em;
}

.sidebar .field-name-field-button-1 a,
.sidebar .field-name-field-button-2 a{
	padding: $button-med;
	@extend h4;
}
