//product general



article.node-product-display{ 
	div{
		margin-bottom: 5px;
	}
	.field-type-taxonomy-term-reference ul:before	{
		content: "Category:";
	}

	.commerce-product-field-commerce-price{
		font-family: $global-font-family;		
		font-size: 22px;
		border-bottom: 4px solid #efefef;
		border-top: 4px solid #efefef;		
		margin-bottom: 10px;
		margin-right: 10px;
		padding-top: 5px;
/*
		@include border-radius(250px); 		
		background: $primary-color;
		padding: 10px;
		height: 80px;
		line-height: 80px;
		width: 80px;
		text-align: center;
*/
	}
	button.form-submit{
		font-family: $global-font-family;
		background: $secondary-color;
	}
	.field-name-field-categorie{
		margin-top: -10px;
	}
}



//catalog page, teaser view
article.node-product-display.node-teaser{
	h2{
		@extend h6;
		min-height: 56px;
		overflow: hidden;
		border-top: 4px solid $primary-color;	
		margin-right: 10px;
		padding-top: 15px;		
	}
	.field-name-body{
		min-height: 50px;
		overflow: hidden;
		font-size: 12px;
		line-height: 18px;
		margin-top: 10px;
	}
	ul.links.inline {
		display: none;
	}
	.item-list ul{
		margin: 0;
	}
}

//product page, 

.page-taxonomy article.node-product-display.node-teaser{
	width: 100%;
}

.view-catalog li.views-row {
	width: 100%;	
}

@media #{$medium} { 

	.page-taxonomy article.node-product-display.node-teaser{
		float: left;
		width: 33%;
	}
	.page-taxonomy .view article.node-product-display.node-teaser{
		float: left;
		width: 100%;
	}

	.view-catalog li.views-row {
		float: left;		
		width: 33%;	
	}
	.view-catalog li.views-row:nth-child(3n+4) {
		clear: left;	
	}
	.page-taxonomy article.node-product-display.node-teaser:nth-of-type(3n+4) {
		clear: left;
	}	
}


//Shopping cart 
#views-form-commerce-cart-form-default {
	.views-field-edit-quantity {
		max-width: 60px;
	}
	.views-field-edit-delete {
		text-align: center;
		button {
			cursor: pointer;
			text-indent: -9999px;
			background: transparent url(../images/delete.png) no-repeat 50% 50%;
			margin-top: 18px;
			width: 15px;
			height: 17px;
			background-size: contain;			
		}
	}
	.views-field-nothing {
		padding: 20px;
		.product_922, .product_923, .product_924 {
			position: relative;
			background: transparent url(../images/banner-small.png) 0 50% no-repeat;
			background-image: none;
			background-size: contain;
			min-height: 160px;
			width: 335px;
		}
		.slogan-wrapper {
			.banner-slogan {
				font-family: arial;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: bold;
				text-align: center;
				position: absolute;
			  top: 30px;
			  width: 100%;
  		}
  		.banner-name {
			  bottom: 30px;
			  position: absolute;
			  width: 100%;
			  text-align: center;	  		
  		}
			&.product_923 {
				background-image: url(../images/banner-large.png);
				.banner-slogan {
					font-size: 12px;
					text-align: left;
					width: 220px;					
					left: 20px;					
				}
			}
			&.product_922 {
				background-image: url(../images/banner-small.png);				
			}
			&.product_924 {
				background-image: url(../images/banner-medium.png);
	  		.banner-name {
				  bottom: 70px;
	  		}
				
			}
		}
		.banner-title {
			font-size: 18px;
			font-family: $global-font-family;
			padding: 10px 0;
			a {
				padding-right: 20px;
				line-height: 20px;
			}
			span {
				font-weight: bold;
			}
		}
		
	}
	
}

//Shopping cart header

header .block-commerce-cart{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 990;
	.view-content{
		background: $tertiary-color url(../images/cart-icon.png) 50% 50% no-repeat;
		width: 35px;
		height: 45px;
		position: absolute;
		right: 36px;
		top: 0;	
		cursor: pointer;

	}
	
	.view-footer{
		background: $tertiary-color;
	    min-height: 50px;
	    padding: 20px 10px 10px;
	    position: absolute;
	    right: 35px;
	    top: 45px;
	    width: 200px;
	}
	h2,
	.view-footer{
		display: none;
		
	}
	.line-item-summary-checkout a{ 
		@include button;
		background: #000;
		color: #fff;
		font-family: $global-font-family;
		margin-bottom: 0;
		margin-top: 10px;
	}
	.line-item-summary{
		margin: 0;
	}
	.line-item-summary .links{
		margin: 0;
		padding: 0;
	}
	.line-item-summary-view-cart{
		padding-top: 10px;
		a{
			color: #000;
			text-decoration: underline;
		}
	}
}

@media all and (max-width: 1023px) {
	header .block-commerce-cart{
		right: 80px; 
		.view-footer{
		    right: -81px;
				width: 230px;			    
		}
		
	}	
}

header .cart-empty-block{
	display: none;
}

#close-search-2{
	display: none;
    position: absolute;
	z-index: 990;
	right: 200px;
	top: 152px;
    height: 20px;
    width: 27px;
    background: url("../images/search-close-2.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}


//checkout
#edit-checkout{
	font-family: $global-font-family;
}

#edit-buttons,
form#views-form-commerce-cart-form-default{
	text-align: right;
	table{
		text-align: left;
	}
}

.section-cart,
.section-checkout{
	table{
		width: 100%;
	}	
	#edit-buttons{
		button{
			margin-bottom: 0;
		}
	}	
	.views-field-edit-delete button{
		background: transparent;
		text-align: left;
		padding: 0;
		text-decoration: underline;
		font-size: 12px;
		font-style: italic;
	}
	.views-field-edit-quantity input{
		background: #fff;
		border: 1px solid #ccc;
	}
	.line-item-total{
		font-size: 22px;
	}
}

.checkout-review{
	margin-top: 10px;	
}

.view-commerce-cart-summary {
	margin-top: 5px;
}

fieldset#edit-commerce-shipping {
	label.option {
		font-weight: bold;
		color: black;
	}
	.form-type-radio .description {
		margin: 5px 24px 20px 24px;
	  line-height: 18px;
	  font-style: italic;
	}	
	.ajax-progress {
		font-size: 14px;
		color: $secondary-color;
	}
}


@media all and (max-width: 600px) {
	#views-form-commerce-cart-form-default {
		.views-field-edit-quantity {
			max-width: 60px;
		}
		.views-field-nothing {
			padding: 5px;
			.banner-title {
				font-size: 14px;			
				line-height: 20px;
			}
			
		}	
	}
	.section-checkout {
		fieldset {
			padding: 0;
			border: none;
		}
	}	
	
	#views-form-commerce-cart-form-default {
		.views-field-nothing {
			padding: 10px;
			.product_922, .product_923, .product_924 {
				width: auto;
			}
		}
	}	
}	


.pagination-centered {
  width: 100%;
  float: left;
}

main .block-menu-menu-webshop-catalog-menu li li a {
	padding-left: 0;
	background: none;
}