.block-facetapi{
	float: left;
	margin-right: 20px;
	.item-list ul li{
		list-style: none;
		margin-left: 0;
		input{
			margin-right: 10px;
		}		
	}
	h2{
		font-size: 18px;
	}
	input, ul li{
		margin: 0;
	}
}

aside .views-exposed-form{
	background: transparent;	
	padding: 0;
	width: 100%;
	clear: both;
	.form-submit{
		font-family: $global-font-family;		
	}
}

.pager-load-more a,
.facetapi-limit-link{
	@include button;
	padding: 0.6em 1em;
	font-size: 14px;
	font-family: $global-font-family;
}

//legend

.section-map .highlighted {
	.block-block	{
		clear: both;
		padding-top: 30px;
	}
	
	.block-block .legend  {
		display: none;
		li {
			list-style: none;
			margin-bottom: 6px;
			img {
				margin-right: 10px;
			}
		}
	}
	
	.block-block .block-title {
		position: relative;
		padding: 6px 0px;
		cursor: pointer;
		font-size: 18px;
		&:before {
			content: "";
			width: 14px;
			height: 10px;
			background: transparent url(../images/arrow-down.png) 0 0 no-repeat;
			position: absolute;
			left: 110px;
			top: 10px;
			background-size: contain;			
		}
		&.active:before {
			background: transparent url(../images/arrow-up.png) 0 0 no-repeat;
		}
	}	
}
