// Docs: http://foundation.zurb.com/docs/components/forms.html

.custom.dropdown li {
	background: none !important
}

// Drupal specific classes
// ----------------------------------------------------------------------------
input[type="radio"]{
	margin: 0 5px 0 0;
}


.rteindent1,
.form-item{
	input, textarea{
		background: #eee;
		border: none;
		@include box-shadow(none);
	}
}
.not-front #finder-block-content_finder-wrapper,
.not-front #views-exposed-form-leverancier-search-page{
	max-width: 300px;
}

#finder-block-content_finder-wrapper,
#views-exposed-form-leverancier-search-page{
	.form-text{
		padding: 0 5px;
		border: none;
		font-size: 1em;
	}
	.form-submit,
	#edit-submit-leverancier-search{
		@include black-button-small;
		color: $tertiary-color;
		float: left;
		display: block;
/*
		position: absolute;
		right: 0;
		top: 46px;
*/
		line-height: 17px;
		font-size: 14px;
	}
	.finder-content_finder{
		position: relative;
	}
	.form-item, .form-actions{
		margin-bottom: 0;
		margin-top: 10px;		
	}
	.form-submit{

	}	
	label{
		position: absolute;
		left: 5px;
		bottom: 23px;
		font-weight: normal;
		font-size: 1em;		
		z-index: 99;
		display: none;
	}	
	.prefix h5{
		line-height: 1.6;
	}
	.prefix a{
		text-decoration: underline;
	}
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
 
	#finder-block-content_finder-wrapper,
	#views-exposed-form-leverancier-search-page{
		.form-submit,
		#edit-submit-leverancier-search{
			top: 71px;
		}
	}	
}
*/

aside .block-0 #finder-block-content_finder-wrapper{
	margin: auto;
}



#finder-block-content_finder-wrapper,
#views-exposed-form-leverancier-search-page{
	position: relative;
}

.rteindent1{
	position: relative;
	text-align: left;
	padding: 0;
	margin: 0;
	label{
		position: absolute;
		left: 8px;
		top: 6px;
	}
}


#finder-block-content_finder-wrapper {
	text-align: left;
	.finder-form-element{
		margin-top: -10px;	
		float: left;
		width: 241px;
	}
	
	form.custom .custom.dropdown{
		width: 241px;
	}	
}




.front #finder-block-content_finder-wrapper {
	.finder-form-element{
		margin-top: -10px;		
		float: left;
	}
	
	form.custom .custom.dropdown{
		width: 301px;
	}	
}

@media all and (max-width: 764px) and (min-width: 1px) {
	#finder-block-content_finder-wrapper {
		.finder-form-element{
			width: 200px;
		}		
		form.custom .custom.dropdown{
			width: 200px;
		}	
	}

	.front #finder-block-content_finder-wrapper {
		
		form.custom .custom.dropdown{
			width: 200px;
		}	
	}
	.front #finder-block-content_finder-wrapper .finder-form-element{
			margin-left: 20px;
	}	
	
	.not-front #finder-block-content_finder-wrapper .finder-form-element {
	    margin-left: 15px;
	}	
}


@media all and (max-width: 1070px) and (min-width: 765px) {
	#finder-block-content_finder-wrapper {
		.finder-form-element{
			width: 170px;
		}		
		
		form.custom .custom.dropdown{
			width: 170px;
		}	
	}

	.front #finder-block-content_finder-wrapper {
		
		form.custom .custom.dropdown{
			width: 240px;
		}	
	}
	.front #finder-block-content_finder-wrapper .finder-form-element{
			width: 183px;
			margin-left: 40px;
	}
	
}


@media #{$medium} { 
.front #finder-block-content_finder-wrapper .finder-form-element{
		width: 244px;	
		margin-left: 50px;		
	}

}

