.section-map {
	#main-logo {
		visibility: hidden;
	}	
}

.olPopup{
	h2 {
	    display: block;
	    color: #fff;
	    font-family: $global-font-family;
	}	
	h3{
	    color: #fff;		
	    font-size: 14px;
	    font-family: $global-font-family;	    
	}	
	.field-content{
		font-size: 12px;
	}
	
	h2.field-content{
		font-size: 18px;
		padding-bottom: 5px;
	}
	p{
		margin-bottom: 0;		
	}
	.openlayers-popup-feature{
		border-top: 1px solid $primary-color;		
		margin-top: 5px;
		margin-bottom: 5px;
		padding-top: 10px;
	}
	.olFramedCloudPopupContent{
		border-bottom: 1px solid $primary-color;		
	}
	a{
		text-decoration: underline;
	}	
}

.page-map{
/*
	.block-nodeblock{
		h2{
			@extend h1;
		}
	}
	
*/	aside .block-0 h2 {
		padding-top: 50px;
	}
	.views-exposed-form{
		background: transparent;
		padding: 0;
	}
	.block-views{
		float: left;
		h2.block-title{
			font-size: 18px;			
		}
	}
	.block-facetapi{	
        border-bottom: 4px solid #ddd;	
    }    
	.views-exposed-form .views-exposed-widget, 
	.views-widget,
	.views-operator{
		float: none;
	}
	.views-operator{

	}
	.views-submit-button button{
		line-height: 8px;
		background: $secondary-color;
	    font-family: $global-font-family;
	}
}

@media all and (max-width: 768px) and (min-width: 1px) {
	.olControlPanZoomBar {
		display: none !important;
	}
}