.node-book,
.view-nuclear-monitor-search{
	border-top: 1px solid $secondary-color;
	padding-top: 20px;
	.views-row {
		a{
			color: $primary-color !important;
		}
		
	}
	.views-field-body-value{
		margin-top: 10px;
	}
	.views-field-title {
		padding-top:10px;
		a{
			@extend p;		
			font-weight: bold;
		}	
	}
	
	.date-display-single{
		display: inline !important;
		background: transparent;
		float: none;
	}
	.views-field-field-content{
		display: inline;
/*
		&:before{
			content: "- (";		
		}
		&:after{
			content: ")";					
		}
*/
		
	}
	.views-field-field-content,
	.views-field-field-publication-date,
	.views-field-field-issue{
		font-size: 15px;
	}
	.views-field-field-content,
	.views-field-field-publication-date{
		font-style: italic;
	}
	.views-field-field-issue{

	}
}	

.block-views-nuclear-monitor-search-block-1{
	.views-field-title {
		@extend h3;
		margin: 0;
	}	
}

.main> .view-nuclear-monitor-search{
	.views-row {
		  background: transparent url(../images/arrow-black.png) 0 17px no-repeat;
		  padding-left: 15px;	
		
		
	}
}	



.node-book{
	.field-name-field-issue, .field-name-field-number{
		background: transparent;
		margin-right: 10px;	
		display: inline-block;	
	}
	
	.field-name-field-issue .field-label{
		display: inline;
	} 
	
	.field-name-field-number{

	}

	.field-name-field-issue:before{
//			content: "Issue: ";
	}	

	.field-name-field-issue:after{
// 		content: "/ ";
		padding-left: 10px;
	}	


	.field-name-field-number:before{
		content: "Number: ";
	}	

	.field-name-field-content,
	.field-name-field-publication-date{
		margin-bottom: 0;
		display: inline-block;
		margin-right: 15px;
		font-style: italic;
	}

	.field-name-field-content{
		font-weight: bold;
	}

	.field-name-field-publication-date:before{

	}	

	
	.field-name-field-country{
		margin-bottom: 0		
	}
	
	.field-name-field-author{
		font-style: italic;
	}
	.field-type-taxonomy-term-reference ul:before{
		content: "";	
	}
}

.book-navigation .menu{
	padding-left: 0;
	li{
		background-position-y: 7px;
	}
}


.item-list ul.pager-load-more{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid $secondary-color;
}