.block-views-signed-petitions-block {
	margin-top: 40px;
}

.view-petitions {
	.button a {
		color: #000;	
	}
	.views-row {
		display: inline-block;
	}
}

.entity-registration {
	.field {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}
	.field-label-inline {
		display: none;
	}
	.field-label {
		display: inline;
	}
}

.view-signed-petitions {
	margin-top: 10px;
	.views-row {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
		
		a {
			font-weight: bold;
		  display: block;
		  width: 100%;
		  height: 25px;			
		  line-height: 25px;
		  position: relative;
		}
		.views-field-field-country-list {
			float: right;
		  height: 25px;			
		  line-height: 25px;
			
		}
	}
	.view-footer {
		margin-top: 20px;
	}
}

.field-name-field-sign-our-petition form {
	margin-top: 30px;
}