#open-search,
#close-search{
    position: absolute;
    z-index: 9;
    right: 5px;
    height: 20px;
    width: 27px;
}

#open-search {
    background: url("../images/search.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
}

#close-search {
    background: url("../images/search-close.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
	z-index: 1010;
}

.block-custom-search-blocks-1 {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 34px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 265px;
}    

header .search-form{
	position: relative;
	z-index: 1000;	
}

.search{
	margin-top: -32px;
    position: absolute;
    right: 0;
    top: 44px;	
    z-index: 999;
    section{
	    margin-top: -12px;

    }    
	h2{
		display: none;
	}
	.form-item {
		width: 160px;
		float: left;
		margin: 0;
	}
	.button{
		padding: 5px 10px;
	}
	input,
	#edit-submit{
		position: relative;
		z-index: 999;
	}
} 

@media #{$medium} { 	
	.search {
	    position: static;
	    section{
		    margin-top: 0;

	    }
	} 
}
