.vm-slider {
	position: relative;
}

.view-bestsellers {
	position: absolute;
	width: 100%;
	bottom: 0;
	.views-row {
		height: 200px;
		overflow: hidden;
		position: relative;
		text-align: center;
		.views-field {
			position: absolute;
			font-family: arial, sans-serif;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}
		.views-field-field-your-name {
			bottom: 50px;
			font-size: 18px;
			font-weight: normal;			
		}
		
		.views-field-field-banner-slogan-small {
			top: 40px;
			font-size: 24px;
			text-transform: uppercase;			
		}
		.views-field-field-your-personal-slogan {
			top: 40px;
			font-size: 18px;			
			padding: 0 20px 0 20px;
			text-transform: uppercase;			
			text-align: center;
		}
		.views-field-field-banner-slogan {
			top: 40px;
			font-size: 16px;			
			padding: 0 80px 0 20px;
			text-transform: uppercase;			
			text-align: left;
		}
		
		
		&.Medium {
			background: transparent url(../images/banner-medium.png) no-repeat 50% 50%;
			background-size: cover; 
			.views-field-field-your-personal-slogan,
			.views-field-field-banner-slogan {
				font-size: 24px;
			}
			.views-field-field-your-name {
				bottom: 85px;
			}
		}
		&.Large {
			background: transparent url(../images/banner-large.png) no-repeat 50% 50%;
			background-size: cover; 
		}
		&.Small {
			background: transparent url(../images/banner-small.png) no-repeat 50% 50%;
			background-size: cover; 
			.views-field-field-your-name {
				bottom: 80px;
			}
			
		}
		&.green-mep {
			background: transparent url(../images/banner-greens.png) no-repeat 50% 50%;			
			background-size: cover; 			
			.views-field-field-banner-slogan {
				top: 90px;
				font-size: 16px;			
				padding: 0 40px 0 40px;
				text-transform: uppercase;			
				text-align: center;
			}
			.views-field-field-your-name {
				bottom: 40px;
			}
			
		}
	}
}

.front {
	.view-bestsellers {
		position: relative;
		margin: 40px 0 200px 0;
		padding: 60px 0 0 0;
		background: transparent url(../images/VM-bg_0.png) no-repeat 50% 50%;
		background-size: cover; 
	}
	.vm-slider-2	{
		position: relative;
		h2 {
			font-size: 44px;
			text-align: center;
			margin-top: 150px;
		}
		.view-footer {
			text-align: center;
			width: 310px;
			margin: auto;
			position: relative;
			top: 80px;
			a {
				margin-left: 10px;
			}
		}
	} 
}

.not-front {
	.vm-slider {
		h2, .view-footer {
			display: none;
		}
	}
}

.owl-controls {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 20px;
	.owl-prev {
		position: absolute;
		text-indent: -99999px;
		left: 18px;
		width: 51px;
		height: 51px;		
		background: transparent url(../images/slide-prev.png) 0 0 no-repeat;
		margin-top: -30px;
	}
	.owl-next {
		position: absolute;		
		text-indent: -99999px;		
		right: 18px;
		width: 51px;
		height: 51px;		
		background: transparent url(../images/slide-next.png) 0 0 no-repeat;		
		margin-top: -30px;		
	}
	
}

@media all and (max-width: 400px) {
	.owl-controls {
		display: none;	
	}
}	

@media all and (max-width: 1023px) {
	.view-bestsellers .views-row .views-field-field-banner-slogan {
	    font-size: 12px;
	    padding: 0 15px 0 15px;
	    text-align: left;
	    text-transform: uppercase;
	    top: 40px;		
	}
	.view-bestsellers .views-row.green-mep {
		.views-field-field-banner-slogan {
/*
			top: 40px;
			font-size: 16px;			
			padding: 0 80px 0 20px;
			text-transform: uppercase;			
			text-align: left;
*/
		}
	}
	
	.view-bestsellers .views-row.Medium .views-field-field-your-name {
		bottom: 70px;
	}

	.not-front .featured-bg img{
		min-height: 240px;			
	}

}
