@font-face {
	font-family: 'PT Sans', sans-serif;	
    src: url(http://fonts.googleapis.com/css?family=PT+Sans:700);
}

/* line 4, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
#wrapper {
  background-color: white;
}


/* line 11, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
input[type="text"] {
  background: white;
}

/* line 14, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
a {
  color: #f57f21 !important;
}

/* line 17, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
a.button {
  height: auto;
  border: none;

  padding: 12px 10px;
  background-color: #38b06f;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  background-image: none;
  border-radius: 0;
  	
  text-transform: none;
  color: yellow !important; 
  background: #000;   
  font-weight: bold;
	font-family: 'PT Sans', sans-serif;		  
}
/* line 30, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
a.button span {
  color: yellow !important;
  height: auto;
  padding: 0;
}
/* line 35, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
a.button:hover {
  background-color: #000;
}

/* line 39, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.flowsteps-nr p,
.flowsteps-text p {
  color: #f57f21 !important;
}

/* line 43, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.box-flowheader-on {
  background-color: #f57f21;
  border-bottom-color: #f57f21;
}

/* line 47, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.avarageusage1_in,
.avarageusage2_in,
.avarageusage3_in,
.avarageusage4_in,
.avarageusage5_in {
  background-color: #5acf04;
}

 .avarageusage1:hover, .avarageusage1_selected, .avarageusage2:hover, .avarageusage2_selected, .avarageusage3:hover, .avarageusage3_selected,  .avarageusage4:hover, .avarageusage4_selected,  .avarageusage5:hover, .avarageusage5_selected {

}

.avarageusage1_in_selected, .avarageusage2_in_selected, .avarageusage3_in_selected, .avarageusage4_in_selected, .avarageusage5_in_selected, .tbl-compare #travarageusage a:hover .avarageusage1_in, .tbl-compare #travarageusage a:hover .avarageusage2_in, .tbl-compare #travarageusage a:hover .avarageusage3_in, .tbl-compare #travarageusage a:hover .avarageusage4_in, .tbl-compare #travarageusage a:hover .avarageusage5_in,
.avarageusage1_in:hover, .avarageusage2_in:hover, .avarageusage3_in:hover, .avarageusage4_in:hover, .avarageusage5_in:hover{
  background-color: #000;	
}

/* line 54, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.flow-footer-small-left,
.flow-footer-small-right {
  display: none;
}

/* line 58, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
#flow-footer {
  width: 100%;
  border-radius: 0;
  border: none;
  background: white;
}

/* line 64, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
a.lgray img {
  display: none;
}

/* line 68, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.tbl-results-header td {
  background-color: #f57f21;
  background-image: none;
  border-right: none;
}
/* line 73, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.tbl-results-header td span {
  color: white !important;
}

/* line 78, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
a,
span,
label,
.tbl-results .price a .price-cents,
.pd-value,
.pd-value-two,
h1, h2, h3 {
/*   color: #f57f21 !important; */
}

/* line 88, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.box-flowheader-content div.flowsteps-text p {
  font-size: 18px;
}

/* line 92, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.tbl-compare .compare-field span,
.tbl-pp .pp-field span,
.tbl-pp .compare-field span,
.tbl-rslt-details .rslt-details-field span,
.tbl-header-img-form .compare-field span,
.tbl-pp .pp-field label {
  font-size: 16px;
}

/* line 100, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.tbl-compare .compare-field label,
.tbl-compare .compare-input,
.tbl-pp .pp-input,
.flowinfo-usage-var,
.flowinfo-elec-icon,
.flowinfo-gas-icon {
  font-size: 16px;
}

/* line 108, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.flowinfo-usage-var span {
  font-size: 14px;
}

/* line 111, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.tbl-results .td-pp-button span {
  padding: 3px 0 0 0;
}

/* line 114, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.inforow-btn span a:link, .inforow-btn span a:visited {
  padding: 1px 3px 10px 25px;
}

/* line 117, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.tbl-results td.inforow-btn {
  padding-top: 5px;
}

/* line 120, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.hld8 .h-elec-icon h3, .hld8 .h-gas-icon h3, .hld8 .h-supp-icon h3, .hld8 h3 {
  font-size: 14px;
}

/* line 123, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
a .box-tab:hover span {
  color: #1f633e !important;
}

/* line 126, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
.pd-value-align-left {
  color: #f57f21;
}

/* line 7, /private/shares/apps/sterrenstroom/app/assets/sass/s3/prizewize-form.css.scss */
body, table, td, div, p, font, span, li, ul, textarea, input, select {
  font-family: Helvetica,arial,serif;
  font-size: 14px;
}

a.orange-arrow:link span, a.orange:link span, a.button-big:link span, a.orange-arrow span, a.orange span, a.button-big span, a.green-arrow:link span, a.green:link span,
a.button,
#div-flow-header p,
.compare-field span{
	font-family: 'PT Sans', sans-serif !important; 	
	font-weight: bold;
}

#iframe-div-left{
	padding-left: 0;	
}

#wrapper {
    max-width: 980px;
    min-width: auto;
    width: auto;
}

.tbl-compare .compare-field label,
.tbl-compare .compare-field span, .tbl-pp .pp-field span, .tbl-pp .compare-field span, .tbl-rslt-details .rslt-details-field span, .tbl-header-img-form .compare-field span, .tbl-pp .pp-field label{
	color: #000 !important;
}

.days-to-change {
  width: 13%;
  left: 222px;
  margin-top: -19px;
}

.info {
    background-image: url("http://www.wisenederland.nl/sites/all/themes/wise/images/info.png");
 }