/**
 * @file
 * Block Styling
 */

/** 
* .block { /* Block wrapper */
*   margin-bottom: 1.5em;
* }
*/


.block.first { /* The first block in the region */
}

.block.last { /* The last block in the region */
}

.block.odd { /* Zebra striping for each block in the region */
}

.block.even { /* Zebra striping for each block in the region */
}

.block {
  margin-bottom: 1.5em;
}

h2.block-title { /* Block title */
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
	background:#fdf455 url(../images/wise-logo-klein-op-geel.png) right bottom no-repeat;
	padding-bottom:45px;
}
#block-block-1 h2 {
	padding:0 12px 0 12px;
	font-size:18px;
	color:#fff;
	background-color:#ff7e15;
	height:40px;
}
#block-block-1 p {
	margin:0;
	padding:5px 12px 5px 12px;
}

#block-nice-menus-1 {
	background-color:#000;
	height:22px;
}

#block-block-3 {
	width:50%;
	float:right;
	font-size:11px;
	background-color: #ECECEC;
}
#block-block-3 a {
	text-decoration:none;
}
#block-block-3 table, #block-block-3 p {
	margin:0;
	padding:0;
}
#block-block-3 table {
	margin:5px 0 0 0;
	border:0px solid #000;
	float:right;
}
#block-block-3 table img {
	vertical-align:middle;
	margin:0 5px;
}


#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

.block-nodeblock {
/*	background-color:#FDF455; */
	border:1px solid #000;
}

.block-nodeblock h1, .block-nodeblock h2, .block-nodeblock h3, .block-nodeblock h4, .block-nodeblock h5, .block-nodeblock h6  {
	color: #FF7E15;
	font-size: 18px;
	padding:6px 12px 0 12px;
	line-height:30px;
	margin:0;
}
.block-nodeblock p {
	margin:0;
	padding:6px 12px 6px 12px;
}


#block-nm-latest-nm-latest ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#block-nm-latest-nm-latest ul li {
	line-height:16px;
	margin:0 0 8px 0;
}
#block-nm-latest-nm-latest ul li a {
	text-decoration:none;
}
#block-nm-latest-nm-latest ul li a:hover {
	text-decoration:underline;
}
.block-nm-latest h2 {
	color: #000;
	font-size: 18px;
	line-height:22px;
	height: 40px;
	margin: 0 0 12px 0;
}


.block-twitter-profile-widget  {
	margin-top:40px;
}
