/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */

#header {
}

.cHeaderBg1 {  background:url(../images/header/1.jpg) right top no-repeat; }
.cHeaderBg2 {  background:url(../images/header/2.jpg) right top no-repeat; }
.cHeaderBg3 {  background:url(../images/header/3.jpg) right top no-repeat; }
.cHeaderBg4 {  background:url(../images/header/4.jpg) right top no-repeat; }
.cHeaderBg5 {  background:url(../images/header/5.jpg) right top no-repeat; }
.cHeaderBg6 {  background:url(../images/header/6.jpg) right top no-repeat; }
.cHeaderBg7 {  background:url(../images/header/7.jpg) right top no-repeat; }
.cHeaderBg8 {  background:url(../images/header/8.jpg) right top no-repeat; }
.cHeaderBg9 {  background:url(../images/header/9.jpg) right top no-repeat; }
.cHeaderBg10 { background:url(../images/header/10.jpg) right top no-repeat; }
.cHeaderBg11 { background:url(../images/header/11.jpg) right top no-repeat; }
.cHeaderBg12 { background:url(../images/header/12.jpg) right top no-repeat; }
.cHeaderBg13 { background:url(../images/header/13.jpg) right top no-repeat; }
.cHeaderBg14 { background:url(../images/header/14.jpg) right top no-repeat; }
.cHeaderBg15 { background:url(../images/header/15.jpg) right top no-repeat; }
.cHeaderBg16 { background:url(../images/header/16.jpg) right top no-repeat; }
.cHeaderBg17 { background:url(../images/header/17.jpg) right top no-repeat; }
.cHeaderBg18 { background:url(../images/header/18.jpg) right top no-repeat; }
.cHeaderBg19 { background:url(../images/header/19.jpg) right top no-repeat; }
.cHeaderBg20 { background:url(../images/header/20.jpg) right top no-repeat; }
.cHeaderBg21 { background:url(../images/header/21.jpg) right top no-repeat; }
.cHeaderBg22 { background:url(../images/header/22.jpg) right top no-repeat; }
.cHeaderBg23 { background:url(../images/header/23.jpg) right top no-repeat; }
.cHeaderBg24 { background:url(../images/header/24.jpg) right top no-repeat; }
.cHeaderBg25 { background:url(../images/header/25.jpg) right top no-repeat; }
.cHeaderBg26 { background:url(../images/header/26.jpg) right top no-repeat; }
.cHeaderBg27 { background:url(../images/header/27.jpg) right top no-repeat; }
.cHeaderBg28 { background:url(../images/header/28.jpg) right top no-repeat; }
.cHeaderBg29 { background:url(../images/header/29.jpg) right top no-repeat; }
.cHeaderBg30 { background:url(../images/header/30.jpg) right top no-repeat; }
.cHeaderBg31 { background:url(../images/header/31.jpg) right top no-repeat; }
.cHeaderBg32 { background:url(../images/header/32.jpg) right top no-repeat; }
.cHeaderBg33 { background:url(../images/header/33.jpg) right top no-repeat; }
.cHeaderBg34 { background:url(../images/header/34.jpg) right top no-repeat; }
.cHeaderBg35 { background:url(../images/header/35.jpg) right top no-repeat; }
.cHeaderBg36 { background:url(../images/header/36.jpg) right top no-repeat; }


#logo { /* Wrapping link for logo */
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin:24px 0;
	padding:0 24px 3px 24px;
	line-height:34px;
  font-size:25px;
	font-weight:700;
	background-color:#fff;
}

.region-header { /* Wrapper for any blocks placed in the header region */
/*  clear: both; /* Clear the logo */
float:right;
text-align:right;
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
	margin-top:30px;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
	height:40px;
	background-color:#ececec;
	font-size:10px;
	line-height:40px;
	padding:0 0 0 12px;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
	font-size:18px;
  margin: 0;
}

a {
	color:#000;

}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
	margin-top:18px;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
	margin-top:40px;
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}



.comment_forbidden